{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">  
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block page_title %}{% endblock page_title %}| AirBnB Clone</title>
  </head>
  <body class="text-gray-800 mt-24 font-light">
    {% include "partials/messages.html" %}
    <header class="container max-w-full inset-0 flex items-center justify-between px-6 h-20 border-b border-gray-200 fixed bg-white shadow-md">
      <div class="flex items-center w-1/3">
        <a class='flex items-center' href="{% url "core:home" %}" class="mr-6">
            <img class="w-8" src="{% static 'img/logo.png' %}" />
            <span class='ml-1 font-medium text-lg text-red-500'>AirBnb Clone</span>
        </a>
        {% comment %} {% block search_bar %}
            <form method='get' action={% url 'rooms:search' %} class='w-9/12'>
                <input class='search-box border p-4 placeholder-gray-400 rounded-lg w-full h-10 shadow-md hover:shadow-lg focus: outline-none'  name='city' placeholder='Search by City'/>
            </form>
        {% endblock search_bar %} {% endcomment %}
      </div>
      {% include "partials/nav.html" %}
    </header>

    {% block content %}{% endblock %}
    
    {% include "partials/footer.html" %}
    <script>
        const langSelect = document.getElementById("js-lang");
        const handleLangChange = () => {
            const selected = langSelect.value;
        }
        langSelect.addEventListener("change", handleLangChange);
    </script>
  </body>
</html>